/*************************************************************
* Gems
**************************************************************/


/*************************************************************
* Vendors stylesheets
**************************************************************/
@import "simplemde/simplemde.min";
@import "jquery.fancybox/jquery.fancybox.min";

/*************************************************************
* Configurations
**************************************************************/
@import "config/tabler";


/*************************************************************
* Customizations
**************************************************************/
@import "customizations/fontawesome";
@import "customizations/table_bootstrap";
@import "customizations/sidebar_tabler";


/*************************************************************
* Apps stylesheets
**************************************************************/
@import "lib/image_preview";
@import "professor";
@import "faq";
@import "discipline_monitors";
@import "trainees";
@import "contacts";