/*************************************************************
* Gems
**************************************************************/


/*************************************************************
* Vendors stylesheets
**************************************************************/
@import "simplemde/simplemde.min";

/*************************************************************
* Configurations
**************************************************************/
@import "config/tabler";


/*************************************************************
* Customizations
**************************************************************/
@import "customizations/fontawesome";
@import "customizations/table_bootstrap";
@import "customizations/sidebar_tabler";


/*************************************************************
* Apps stylesheets
**************************************************************/
@import "lib/image_preview";
@import "professor";

