#faqs-index {
  .card {
    border: none;
    margin-bottom: 0;
  }

  .title {
    padding-top: .5rem;
    color: #9aa0ac;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 10px;
  }

  .card-header {
    padding-left: 0;
  }
}
