<%= paginate @activity_professors %>

<div class="card card-profile">
  <div class="card-body">
    <h3 class="mb-3"><%= @static_page.title %></h3>
  </div>
</div>
<%= render 'activity_professors' %>

