<tr>
  <td><%= category_recommendation.name %></td>
  <td><%= l(category_recommendation.created_at, format: :long) %></td>
  <td>
    <%= link_to edit_admins_category_recommendation_path(category_recommendation) do %>
      <span class="icon mr-3">
        <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i>
      </span>
    <% end %>

    <%= link_to [:admins, category_recommendation], method: :delete, data: { confirm: t('prompt.confirm') } do %>
      <span class="icon mr-3">
        <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Remover"></i>
      </span>
    <% end %>
  </td>
</tr>
