<div class="card mx-auto mt-4" style="width: 90%">
  <div class="card-header">
    <h1 class="pt-4">500 - Internal Error</h1>
  </div>
  <div class="card-body text-center">
    <h5>Hey, looks like we had a problem at our server.</h5>
    <h5>We'll be trying to solve the problem faster as we can.</h5>
    <img src='/app/assets/images/errors/500.png'>
  </div>
</div>
