<div class="card mx-auto mt-4" style="width: 90%">
  <div class="card-header">
    <h1 class="pt-4">422 - Unacceptable</h1>
  </div>
  <div class="card-body text-center">
    <h5>Hey, looks like we doing something wrong. Please check it and try again.</h5>
    <img src='/app/assets/images/errors/422.png'>
  </div>
</div>
