<section id="companies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Empresas Parceiras</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <%@companies.each do |c| %>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <%= image_tag c.image.url, class:'avatar avatar-xxl mr-5' %>
          <h3 class="mb-3"><%= c.name%></h3>
          <%= c.site%>
          <p class="text-muted mb-0"><%= c.operation%></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
