<section class="bg-primary" id="posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-white">Notícias</h2>
                <hr class="light my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% @last_posts.each do |post| %>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <h3 class="mb-3 text-white"><%= post.title %></h3>
                        <p class="text-faded mb-4" align="left"><%= post.description %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <br />
                <br />
                <%= link_to posts_path, class: 'btn btn-light btn-xl js-scroll-trigger' do %>
                    Ver Todas as Notícias
                <% end %>
            </div>
        </div>
    </div>
</section>