<section class="bg-primary" id="professors">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Professores</h2>
        <hr class="light my-4">
        <%= link_to "Efetivos", professors_path, class: 'btn btn-light btn-xl js-scroll-trigger' %>
        <%= link_to "Colaboradores", professors_path, class: 'btn btn-light btn-xl js-scroll-trigger' %>
        <%= link_to "Ex-Professores", professors_path, class: 'btn btn-light btn-xl js-scroll-trigger' %>
      </div>
    </div>
  </div>
</section>
