<section id="social_nerworks" class="bg-primary">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 mx-auto">\
      </div>
      <div class="row mx-auto">
        <div class="col-lg-12">
          <h4 class="section-heading">Acompanhe ou compartilhe no Facebook!</h4>
          <hr class="light">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftsiutfprgp&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media">
          </iframe>
          <hr class="light">
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Ftsi.gp.utfpr.edu.br&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId"
            width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            allow="encrypted-media">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
