<% provide(:page_title, 'Professores') %>

<% breadcrumb :teachers %>

<div class="text-right">
  <%= link_to new_admins_professor_path,
    class: 'btn btn-secondary',
    title: 'Novo Professor',
    data: { toggle: 'tooltip', placement: 'top' } do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-data card-table table-vcenter text-nowrap">
    <thead>
      <tr>
        <th class="w-1">Id</th>
        <th>Nome</th>
        <th>Data do registro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @professors %>
    </tbody>
  </table>
</div>
