
<%= simple_form_for [:admins, @matrix] do |f| %>

  <%= f.input :name, autofocus: true%>
  

  <div class="card-footer text-right">
    <div class="d-flex">
      <%= link_to "Voltar", admins_matrices_path, class: 'btn btn-secondary', title:'Voltar'%>
      <%= f.button :submit, class: 'btn btn-primary ml-auto', title: 'Cadastrar/Atualizar'%>
    </div>
  </div>

<% end %>
