<% provide(:page_title, "Visualizar Matriz ##{@matrix.id}") %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= @matrix.name %></h3>
  </div>
  <div class="card-body">

  </div>
</div>

<div class="d-flex">
  <%= link_to "Voltar", admins_matrices_path, class: 'btn btn-secondary' , title: 'Voltar para lista de Matrizes' %>
</div>
