<div class="card mx-auto mt-4" style="width: 40%">
  <div class="card-header">
    <h1 class="pt-4">404 - Not Found</h1>
  </div>
  <div class="card-body text-center">
    <h5>Oops!! Seems we could't find the page you're looking for.</h5>
    <%= image_tag  "errors/404.jpg" %>
  </div>
</div>
