<% provide(:page_title, 'Acadêmicos') %>

<% breadcrumb :academics %>

<div class="text-right">
    <%= link_to new_admins_academic_path,
        class: 'btn btn-secondary',
        title: 'Novo acadêmico',
        data: { toggle: 'tooltip', placement: 'top' } do %>
        <i class="fas fa-plus"></i>
    <% end %>
</div>

<div class="table-responsive">
    <table class="table table-data card-table table-vcenter text-nowrap" id="academics_table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Formado</th>
                <th>Data de criação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%= render @academics %>
        </tbody>
    </table>
</div>
