/*************************************************************
* Gems
**************************************************************/
/*@import "bootstrap"; bootstrap is added by tabler*/


/*************************************************************
* Vendors stylesheets
**************************************************************/


/*************************************************************
* Configurations
**************************************************************/
@import "config/tabler";


/*************************************************************
* Customizations
**************************************************************/
@import "customizations/simple_form_bootstrap";


/*************************************************************
* Apps stylesheets
**************************************************************/