#sidebarMenuCollapse hr {
  margin-top: 1rem;
  margin-bottom: 0;
}

.sidebar-toggler-icon {
  position: absolute;
  width: 1rem;
  height: 2px;
  color: inherit;
  background: currentColor;
  border-radius: 3px;
  margin: -2px 0 0 -.5rem;
  box-shadow: 0 5px currentColor, 0 -5px currentColor;
}
